/* CSS for the React date calculator app with a light green and slight blue tone theme */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #9fdf9f; /* Light green */
  color: #155e14; /* Slight dark green */
  padding: 20px;
  text-align: center;
}

button {
  background-color: #7fff7f; /* Light Green */
  color: #155e14; /* Slight dark green */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #5ecf5e; /* Darker shade of green on hover */
}

button:active {
  background-color: #4cae4c; /* Even darker shade of green on click */
}

span {
  font-size: 18px;
  margin: 0 10px;
}

p {
  font-size: 20px;
}

.date-info {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #9fdf9f; /* Light green border */
  border-radius: 5px;
  background-color: #dfffdf; /* Very light green background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the newly added input elements */
input[type="range"] {
  width: 300px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #9fdf9f; /* Light green border */
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 4px #9fdf9f; /* Light green box-shadow on focus */
}
